<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Integrante</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="/paginas/formStyle.css">
</head>
<body>
<div class="form-container">
    <h1>Crear Integrante</h1>
    <form action="/admin/integrantes/create" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido">

        <label for="matricula">Matrícula</label>
        <input type="text" name="matricula" id="matricula">

        <label for="descripcion">Descripción</label>
        <textarea name="descripcion" id="descripcion" cols="30" rows="4"></textarea>

        <label for="orden">Orden</label>
        <input type="number" name="orden" id="orden">

        <div class="radio-label">
            <input type="radio" name="activo" id="activo" value="1" checked>
            <label for="activo">Activo</label>
            <input type="radio" name="activo" id="inactivo" value="0">
            <label for="inactivo">Inactivo</label>
        </div>

        <div class="button-group">
            <button type="submit" style="background-color: green;">Crear</button>
            <button type="button" style="background-color: red;" onclick="window.location.href='/admin/integrantes/listar'">Volver</button>
        </div>
    </form>
    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}
</div>
</body>
</html>
