<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Integrantes</title>
    <link rel="stylesheet" href="/paginas/style.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">-->
</head>
<body>
<div class="container">
    <header class="panel-inicio">
        <h1>Integrantes</h1>
    </header>
    <div class="actions">
        <a href="/admin" class="btn" style="background-color: red;">Volver</a>
        <a href="/admin/integrantes/crear" class="btn" style="background-color: green;">Crear</a>
    </div>
    {{#if (request.query.success)}}
        <p style="color: green;">{{request.query.success}}</p>
    {{/if}}
    <table class="styled-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Matrícula</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Orden</th>
        <!--<th>Acciones</th>-->
        </tr>
        </thead>
        <tbody>
        {{#each integrantes}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{matricula}}</td>
                <td>{{descripcion}}</td>
                {{#if activo}}
                    <td>Activo</td>
                {{else}}
                    <td>Inactivo</td>
                {{/if}}
                <td>{{orden}}</td>
                <!--<td>
                    <a href="/integrantes/{{id}}" title="Ver"><i class="fas fa-eye"></i></a>
                    <a href="/integrantes/{{id}}/editar" title="Editar"><i class="fas fa-edit"></i></a>
                    <a href="/integrantes/{{id}}/eliminar" title="Eliminar"><i class="fas fa-trash"></i></a>
                </td>-->
            </tr>
        {{/each}}
        </tbody>
    </table>

</div>
</body>
</html>
