<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Media</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <style>
        iframe {
            width: 30% !important;
            height: 30% !important;
        }
        img {
            width: 30%;
            height: 30%;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="panel-inicio">
        <h1>Integrantes</h1>
    </header>
    <div class="actions">
        <a href="/admin" class="btn" style="background-color: red;">Volver</a>
        <a href="/admin/media/crear" class="btn" style="background-color: green;">Crear</a>
    </div>
    {{#if request.query.success}}
        <p style="color: green;">{{request.query.success}}</p>
    {{/if}}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Media</th>
                <th>Activo</th>
                <th>Nombre</th>
                <th>Matrícula</th>
                <th>Tipo Media</th>
            </tr>
            </thead>
            <tbody>
            {{#each media}}
                <tr>
                    <td style="width: 50%;">
                        {{#if url}}
                            <iframe src="{{url}}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        {{else}}
                            <img src="{{src}}" alt="{{alt}}">
                        {{/if}}
                    </td>
                    <td>{{#if activo}}
                            Activo
                        {{else}}
                            Inactivo
                        {{/if}}
                    </td>
                    <td>{{nombreIntegrante}}</td>
                    <td>{{matricula}}</td>
                    <td>{{nombreTipoMedia}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
</body>
</html>
