<footer class="footer">
    <div class="footer-content">
        <p class="centrar">Devstructors - Todos los derechos Reservados 2024</p>
        <p class="centrar">Desarrollado por <a href="{{gitlabUrl}}" target="_blank">{{nombre}} - {{matricula}}</a></p>
        <p class="centrar">{{materia}}</p>
    </div>
</footer>

