<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {{#each integrante}}
        <title>{{nombre}} {{apellido}}</title>
    {{/each}}
    <link rel="stylesheet" href="/paginas/style.css">
</head>
<body>
{{> nav}}
<header>
    {{#each integrante}}
        <h1>{{nombre}} {{apellido}} - {{matricula}}</h1>
        <p style="text-align: center">{{descripcion}}</p>
    {{/each}}
</header>
<section>
    {{#each media}}
        <h2>{{titulo}}</h2>
        {{#if url}}
            <div class="iframe-container">
                <iframe src="{{url}}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        {{else}}
            <img src="{{src}}" alt="{{alt}}">
        {{/if}}
    {{/each}}
</section>

{{> footer}}

</body>
</html>