<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tipo Media</title>
    <link rel="stylesheet" href="/paginas/style.css">
</head>
<body>
<div class="container">
    <header class="panel-inicio">
        <h1>Tipo Media</h1>
    </header>
    <div class="actions">
        <a href="/admin" class="btn" style="background-color: red;">Volver</a>
        <a href="/admin/tipo_media/crear" class="btn" style="background-color: green;">Crear</a>
    </div>

    {{#if request.query.success}}
        <p style="color: green;">{{request.query.success}}</p>
    {{/if}}

    <table class="styled-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Orden</th>
        </tr>
        </thead>
        <tbody>
        {{#each tipoMedia}}
            <tr>
                <td>{{nombre}}</td>
                {{#if activo}}
                    <td>Activo</td>
                {{else}}
                    <td>Inactivo</td>
                {{/if}}
                <td>{{orden}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</div>

</body>
</html>